<div class="main-part">

  <h2>Конфигуратор</h2>

  <div class="config-form">
    <form action="/" method="POST">
      <div>Выберите двигатель</div><select>
        {{#each engine}}
        <option value="engine">{{this.name}}</option>
        {{/each}}
      </select>
      <div>Выберите трансмиссию</div><select>
        <option value="engine">Трансмиссия 1</option>
        <option value="engine">Трансмиссия 2</option>
        <option value="engine">Трансмиссия 3</option>
      </select>
      <select name="" id=""></select>
      {{!-- <label ><select type="text" name="engine"></label><br>
      <select type="text" name="transmision"><br>
      <input type="text" name="configuration"><br>
      <input type="text" name="color"> --}}
    </form>
  </div>

  <div>

    <div>{{engine}}</div>
    <div>{{carcass}}</div>
    <div>{{transmission}}</div>
    <div>{{color}}</div>

    <div>{{#each configuration}}<div>
        <h2>{{this.name}}</h2>
        <div>{{this.engine}}</div>
        <div>{{this.transmission}}</div>
        <div>{{this.color}}</div>
      </div>{{/each}}</div>

  </div>
  <a href="">Сравнить с другими предложениями</a>
</div>
