<script defer src="js/application.js"></script>
<div class="main-part">

  <a href="/">Домашняя страница</a>

  <div class="config-form">
    <form class="vertical-menu centre"  id='configForm' action="/comparison" method="POST">
      <div>Выберите двигатель</div>
      <select class="input" name="engine" id="engine">
        {{#each engine}}
        <option  value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите каркас</div>
      <select class="input" name="carcass" id="carcass">
        {{#each carcass}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите трансмиссию</div>
      <select class="input" name="transmission" id="transmission">
        {{#each transmission}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите цвет</div>
      <select class="input" name="color" id="color">
        {{#each color}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      {{!-- <a href="/comparison">Сравнить с другими предложениями</a> --}}
      <br><br>
      <button class="input2" id="buttonSum">Узнать стоимость комплектации</button>
      <br>
      <br>
      <button class="input2" type="submit" id="buttonCompare">Сравнить с другими предложениями</button>
      <input class="input" hidden=true type="text" id="total" name= "price" value='1834558'></input>
      <input class="input" hidden=true type="text" id="total" name= "name" value="Isuzu Dmax"></input>
      <br>
      <br>
      <div class="sum"> Стоимость: 1834558 руб. </div>
    </form>
{{!}}
  </div>
  
  </div>
</div>
</body>
