<script defer src="js/application.js"></script>
<div class="main-part">

  <a href="/">Домашняя страница</a>

  <div class="config-form">
    <form id='configForm' action="/comparison" method="POST">
      <div>Выберите двигатель</div>
      <select class='select' name="engine" id="engine">
        {{#each engine}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите каркас</div>
      <select class='select' name="carcass" id="carcass">
        {{#each carcass}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите трансмиссию</div>
      <select class='select' name="transmission" id="transmission">
        {{#each transmission}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите цвет</div>
      <select class='select' name="color" id="color">
        {{#each color}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      {{!-- <a href="/comparison">Сравнить с другими предложениями</a> --}}
      <button type="submit" id="buttonCompare">Сравнить с другими предложениями</button>
      <input hidden=true type="text" id="total" name= "price" value={{sum}}>{{sum}}</input>
      <input hidden=true type="text" id="total" name= "name" value="Isuzu Dmax">Isuzu Dmax</input>
      <div class="sum"> Сумма: {{sum}} </div>
    </form>
      <button id="buttonSum">Узнать стоимость комплектации</button>
{{!}}
  </div>
  

    <a href="/comparison">Сравнить с другими предложениями</a>
  </div>
</div>
</body>
